.main__section {
  background-image: url("../img/desk/bike-desk.jpg");
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  height: 825px;
  background-position: center top;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/desk/bike-desk@2x.jpg");
  }
}
